body {
    background: rgb(151, 149, 192);
}

button {
    background-color: rgb(34, 151, 189);
    border: none;
    border-radius: 3px;
    padding: 4px 8px;
}

button:disabled {
    cursor: not-allowed;
}

button:enabled {
    cursor: pointer;
}

h1 {
    
}